# OS FILES
.DS_Store

# INVESTIGATION PROJECT
investigacion/**/*.toc
investigacion/**/*.aux
investigacion/**/*.fdb_latexmk
investigacion/**/*.fls
investigacion/**/*.glg
investigacion/**/*.glo
investigacion/**/*.gls
investigacion/**/*.glsdefs
investigacion/**/*.idx
investigacion/**/*.ilg
investigacion/**/*.ind
investigacion/**/*.ist
investigacion/**/*.log
investigacion/**/*.out
investigacion/**/*.pdf
investigacion/**/*.synctex.gz
investigacion/**/*.bbl
investigacion/**/*.bcf
investigacion/**/*.blg
investigacion/**/*.run.xml

# BENCHMARKING
__pycache__
